@page "/person/create"
@using Microsoft.Extensions.Logging

<h3>Create Person</h3>

<PersonForm Person="Person" submitted="Create" />

@code
{
    Person Person = new Person();

    private void Create()
    {
        Console.WriteLine("Creating Person...");
    }
    
}