@page "/"
@using System.Runtime.CompilerServices
@inject IRepository Repository;

<p style="color: @AppState.Color; font-size: @AppState.Size;">Nur ein Test</p>

<div>
 <h3>Movies</h3>
 <MoviesList Movies="movies">
 </MoviesList>
</div>

@code{

 [CascadingParameter] public MainLayout.AppState AppState { get; set; }
 private List<Movie> movies;
 protected override async Task OnInitializedAsync()
 {

  await Task.Delay(3000);
  movies = Repository.GetMovies();

 }
}