@page "/"
@inject IRepository Repository;


<div>
 <h3>Movies</h3>
 <MoviesList Movies="movies">
 </MoviesList>
</div>

@code{
 
 private List<Movie> movies;
 protected override async Task OnInitializedAsync()
 {
  
  movies =  Repository.GetMovies();
  
 }
}