@typeparam TItem

@if (List == null)
{

    @if (@NullTemplate != null)
    {
        @NullTemplate
    }
    else
    {
        <p> Hier ist alles Null</p>
    }
}
else if (@EmptyTemplate != null)
{
    @EmptyTemplate
}
else if (List.Count == 0)
{
    <p> Hier ist alles Empty</p>
} 
 

@if (List != null){
    foreach (var element in List)
    {
        @ElementTemplate(element)
    }    
}

@code{

    [Parameter] public RenderFragment NullTemplate { get; set; }
    [Parameter] public RenderFragment EmptyTemplate { get; set; }
    [Parameter] public RenderFragment<TItem> ElementTemplate { get; set; }
    [Parameter] public List<TItem> List { get; set; }

}