@page "/genres/create"

<h3>Create Genre</h3>

<GenreForm Genre="genre" rueckmeldung="Create"></GenreForm>

@code
{
    private Genre genre = new Genre();

    public void Create()
    {
        Console.WriteLine("Create method");
        Console.WriteLine(genre.Name);
    }
}